
<div class="row">
    <div class="col-md-4">
        <h2>Vamos a cocinar</h2>
    </div>
    <div class="col-md-4">
        <img width="150" height="150" src="~/Content/Images/YoCocinoLogo.gif"/>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/Account/Register" id="registerLink">Registrarse</a></li>
        <li><a href="/Account/Login" id="loginLink">Entrar</a></li>
    </ul>
</div>